params.run_type='local'
params.project_folder='/beegfs/group_bit/home/JBoucas/test_nextflow/'
params.raw_data='/beegfs/group_bit/home/JBoucas/test_ftp/'
params.image_folder='/beegfs/common/singularity/'

singularity.enabled = true
process {
    withName:fastqc {
        executor='slurm'
        queue='hooli'
        cpus=8
        jobName={ "$task.name" }
        container = "${params.image_folder}fastqc-0.11.9.sif"
        containerOptions = "-B ${params.project_folder}:/workdir -B ${params.raw_data}:/raw_data"
    }
}

