process {
    withName:fastqc {
        executor='slurm'
        queue="${params.queue}"
        cpus=8
        memory='20GB'
        time='4h'
        container = "${params.image_folder}fastqc-0.11.9.sif"
        containerOptions = "${params.extra_mounts} -B ${params.project_folder}:/workdir -B ${params.fastqc_raw_data}:/raw_data"
    }
    beforeScript = 'module load singularity'
}

